Source: libbrisa-2.0-src
Section: devel
Priority: optional
Maintainer: Camilo Campos <zeromaisum@gmail.com>
Build-Depends: debhelper (>= 5.0.38), libqt4-dev
Standards-Version: 3.8.2
Package: libbrisa-2.0-src
Architecture: all
Section: devel
Depends: libqt4-dev
version:2.0
Description: The package with the source code of brisa framework.
